#main{
  position: absolute;
  top: 3vh;
  width: 85vmin;
  height: 90vmin;
  left: 50%;
  transform: translate(-50%);
}

#grid-contianer{
  display: grid;
  background-color: #2E3440;
  width: 100%;
  aspect-ratio: 1 / 1;

  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;

  outline-style: solid;
  outline-color: #4C566A;
  outline-width: 1vmin;
  gap: 1%;
}

#back{
  background-color: #88C0D0;
  width: 20vmin;
  height: 10vmin;

  position: absolute;
  bottom: 1vh;
  left: 50%;

  transform: translate(-50%);
  border: none;
  border-radius: 1vmin;
  color: #2E3440;
  font-wight: bold;
  cursor: pointer;
}

.grid{
  background-color: #3B4252;
  display: grid;
  grid-template-columus: auto auto auto;
  grid-template-rows: auto auto auto;

  gap: 2%;
}

.cell {
  background-color: #ECEFF4;
  cursor: pointer;
}

.cell.o{
  background-color: #A3BE8C;
}
.cell.x{
  background-color: #BF616A;
}
